<footer class="footer">
    <div class="container footer-container">
        <nav class="footer-nav">
            <a class="foter-logo" href="../index.html">yachtjet</a>
       

            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <a class="footer-nav-link current" href="">About</a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="">Yachts</a>
                </li>
                <li  class="footer-nav-item">
                    <a class="footer-nav-link" href="">Reviews</a>
                </li>
            </ul>

        </nav>
        <div class="footer-social-link">
            <ul class="footer-social-list">
                <li class="footer-social-item">
                    <a class="footer-link" href="">
                        <svg class="social-icon" width="24" height="24">
                            <use href="../img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="footer-link" href="">
                        <svg class="social-icon" width="24" height="24">
                            <use href="../img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="footer-link" href="">
                        <svg class="social-icon" width="24" height="24">
                            <use href="../img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <p class="footer-text">
            No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.
        </p>

        <p class="footer-text-bottom">2023. Yacht Adventures</p>

        <a class="footer-link-bottom">Privacy Police</a>
    </div>

</footer>
