<footer class="footer">
    <div class="container footer-container">
        <div class="footer-menu">
            <div class="footer-nav">
                <a class="footer-logo" href="../index.html">yachtjet</a>
    
                <ul class="footer-nav-list">
                    <li class="footer-nav-item">
                        <a class="footer-nav-link current" href="#about">About</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="footer-nav-link" href="#yachts">Yachts</a>
                    </li>
                    <li class="footer-nav-item">
                        <a class="footer-nav-link" href="#reviews">Reviews</a>
                    </li>
                </ul>
            </div>

            <div class="footer-social-link">
                <ul class="footer-social-list">
                    <li class="footer-social-item">
                        <a class="footer-link" href=" https://www.instagram.com/goitclub/" target="_blank">
                            <svg class="social-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a class="footer-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                            <svg class="social-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-social-item">
                        <a class="footer-link" href="https://www.facebook.com/goITclub/" target="_blank">
                            <svg class="social-icon" width="24" height="24">
                                <use href="/img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <p class="footer-main-text">
            No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and
            enjoyable.
        </p>

        <div class="footer-bottom-text">
            <p class="footer-text-bottom">2023. Yacht Adventures</p>

            <a class="footer-link-bottom" href="">Privacy Police</a>
        </div>

    </div>

</footer>