<section class="our-yachts">
    <div class="container">
        <h2 class="our-yachts-title" id="yachts">Choose your dream yacht and sail away into the sunset</h2>
        <ul class="our-yachts-list">
            <li class="our-yachts-list-item">
                <div class="our-yachts-img-box">
                    <picture>
                        <source srcset="
                            /img/our-yachts/desktop-1280-our-yacht1.jpg 1x, 
                            /img/our-yachts/desktop-1280-our-yacht1@2x.jpg 2x" media="(min-width:1280px)">
                        <source srcset="
                            /img/our-yachts/tablet-our-yacht1.jpg 1x, 
                            /img/our-yachts/tablet-our-yacht1@2x.jpg 2x" media="(min-width:768px)">
                        <source srcset="
                            /img/our-yachts/mobile-our-yacht1.jpg 1x, 
                            /img/our-yachts/mobile-our-yacht1@2x.jpg 2x" media="(max-width:767px)">
                        <img src="
                            /img/our-yachts/mobile-our-yacht1.jpg" alt="Our yacht ARROW" class="our-yachts-list-image"
                            width="345">
                    </picture>
                </div>
                <div class="our-yachts-item-name">
                    <p class="our-yachts-item-text">ARROW</p>
                    <p class="our-yachts-item-text">LUXURY YAHTS</p>
                </div>
                <div class="our-yachts-item-properties">
                    <div>
                        <ul class="our-yachts-item-property">
                            <li>
                                <p class="our-yachts-property-label">LENGTH</p>
                            </li>
                            <li>
                                <p class="our-yachts-property-label">BUILDER</p>
                            </li>
                            <li>
                                <p class="our-yachts-property-label">BUILT</p>
                            </li>
                            <li>
                                <p class="our-yachts-property-label">GUESTS</p>
                            </li>
                            <li>
                                <p class="our-yachts-property-label">PRICE</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="our-yachts-item-desc">
                            <li>
                                <p class="our-yachts-desc-label">48m(155ft)</p>
                            </li>
                            <li>
                                <p class="our-yachts-desc-label">Admiral</p>
                            </li>
                            <li>
                                <p class="our-yachts-desc-label">2021</p>
                            </li>
                            <li>
                                <p class="our-yachts-desc-label">11 in 5 cabins</p>
                            </li>
                            <li>
                                <p class="our-yachts-desc-label">€33,500,000</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="our-yachts-list-item">
                <div class="our-yachts-img-box">
                    <picture>
                        <source
                            srcset="/img/our-yachts/desktop-1280-our-yacht2.jpg 1x, /img/our-yachts/desktop-1280-our-yacht2@2x.jpg 2x"
                            media="(min-width:1280px)">
                        <source
                            srcset="/img/our-yachts/tablet-our-yacht2.jpg 1x, /img/our-yachts/tablet-our-yacht2@2x.jpg 2x"
                            media="(min-width:768px)">
                        <img src="/img/our-yachts/tablet-our-yacht2.jpg" alt="Our yacht BENETTI OASIS 40M BO122"
                            class="our-yachts-list-image" width="345">
                    </picture>
                </div>
                <div class="our-yachts-item-name-second">
                    <p class="our-yachts-item-text-second">BENETTI OASIS 40M BO122</p>
                    <p class="our-yachts-item-text-second">LUXURY YAHTS</p>
                </div>
                <div class="our-yachts-item-properties-second">
                    <div>
                        <ul class="our-yachts-item-property-second">
                            <li>
                                <p class="our-yachts-property-label-second">LENGTH</p>
                            </li>
                            <li>
                                <p class="our-yachts-property-label-second">SHIPYARD</p>
                            </li>
                            <li>
                                <p class="our-yachts-property-label-second">BUILT</p>
                            </li>
                            <li>
                                <p class="our-yachts-property-label-second">GUESTS</p>
                            </li>
                            <li>
                                <p class="our-yachts-property-label-second">PRICE</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="our-yachts-item-desc-second">
                            <li>
                                <p class="our-yachts-desc-label-second">41m (133ft)</p>
                            </li>
                            <li>
                                <p class="our-yachts-desc-label-second">Benetti</p>
                            </li>
                            <li>
                                <p class="our-yachts-desc-label-second">2025</p>
                            </li>
                            <li>
                                <p class="our-yachts-desc-label-second">10 in 5 cabins</p>
                            </li>
                            <li>
                                <p class="our-yachts-desc-label-second">€23,210,000</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="our-yachts-list-item">
                <div class="our-yachts-img-box">
                    <picture>
                        <source
                            srcset="/img/our-yachts/desktop-1280-our-yacht3.jpg 1x, /img/our-yachts/desktop-1280-our-yacht3@2x.jpg 2x"
                            media="(min-width:1280px)">
                        <img src="/img/our-yachts/desktop-1280-our-yacht3.jpg" alt="Our yacht BELLE ANNA"
                            class="our-yachts-list-image" width="345">
                    </picture>
                </div>
                <div class="our-yachts-item-name-third">
                    <p class="our-yachts-item-text-third">BELLE ANNA</p>
                    <p class="our-yachts-item-text-third">LUXURY YAHTS</p>
                </div>
                <div class="our-yachts-item-properties-third">
                    <div>
                        <ul class="our-yachts-item-property-third">
                            <li>
                                <p class="our-yachts-property-label-third">LENGTH</p>
                            </li>
                            <li>
                                <p class="our-yachts-property-label-third">SHIPYARD</p>
                            </li>
                            <li>
                                <p class="our-yachts-property-label-third">BUILT</p>
                            </li>
                            <li>
                                <p class="our-yachts-property-label-third">GUESTS</p>
                            </li>
                            <li>
                                <p class="our-yachts-property-label-third">PRICE</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="our-yachts-item-desc-third">
                            <li>
                                <p class="our-yachts-desc-label-third">50m(155ft)</p>
                            </li>
                            <li>
                                <p class="our-yachts-desc-label-third">ISA</p>
                            </li>
                            <li>
                                <p class="our-yachts-desc-label-third">2012</p>
                            </li>
                            <li>
                                <p class="our-yachts-desc-label-third">12 in 6 cabins</p>
                            </li>
                            <li>
                                <p class="our-yachts-desc-label-third">€21,000,000</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <div class="our-yachts-link-container">
            <a href="#yacht-rental" class="our-yachts-link">Yacht rental</a>
        </div>
    </div>
</section>