<section class="rent-yacht">
  <div class="container rent-yacht-container">
    <div class="rent-container-form">
      <h2 class="rent-title" id="yacht-rental">Rent a yacht now</h2>
      <div class="rent-section-form">
        <form class="rent-form">
          <div class="rent-form-field">
            <input
              type="text"
              name="user-name"
              placeholder="Full Name"
              required
              class="rent-form-input"
            />
          </div>
          <div class="rent-form-field">
            <input
              type="email"
              name="user-email"
              placeholder="Email"
              required
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              class="rent-form-input"
            />
          </div>
          <div class="rent-form-field">
            <input
              type="tel"
              name="user-tel;"
              placeholder="Phone number"
              required
              pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
              class="rent-form-input"
            />
          </div>
          <div>
            <textarea
              type="submit"
              name="user-comment"
              id="user-comment"
              placeholder="Comment"
              class="rent-form-textarea"
            ></textarea>
          </div>
          <button type="submit" class="rent-btn">Send</button>
        </form>
      </div>
    </div>
    <div class="rent-pic-container">
      <picture>
        <source
          srcset="
            /img/rent-a-yacht/desktop-1280-rent-a-yacht-img.jpg    1x,
            /img/rent-a-yacht/desktop-1280-rent-a-yacht-img@2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            /img/rent-a-yacht/tablet-rent-a-yacht-img.jpg    1x,
            /img/rent-a-yacht/tablet-rent-a-yacht-img@2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            /img/rent-a-yacht/mobile-rent-a-yacht-img.jpg    1x,
            /img/rent-a-yacht/mobile-rent-a-yacht-img@2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="rent-img"
          src="/img/rent-a-yacht/mobile-rent-a-yacht-img.jpg"
          alt="yacht-on-water"
          width="704"
        />
      </picture>
    </div>
  </div>
</section>
