/* MOBILE STYLES */

.advantages {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0e1823;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.advantages-list-box {
  padding: 80px 20px;
  border-radius: 24px;
  background-color: #1b414b;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.advantages-list-item {
  position: relative;
}

.advantages-list-subtitle {
  margin-bottom: 38px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
}

.advantages-list-desc {
  max-width: 292px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  opacity: 0.8;
}

.width-desc {
  max-width: 238px;
}

.advantages-list-subtitle::after {
  content: '';
  top: 50%;
  left: 0;
  position: absolute;
  border-radius: 18px;
  width: 295px;
  height: 2px;
  background: rgba(251, 251, 251, 0.1);
}

.advantages-img {
  border-radius: 24px;
}

/* TABLET STYLES */

@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .advantages-list-box {
    padding: 90px 32px;
  }

  .advantages-list-subtitle {
    font-size: 32px;
  }

  .advantages-list-desc {
    font-size: 13px;
    line-height: 1.15;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 32px;
  }

  .advantages-list-item {
    position: relative;
    width: calc((100% - 32px) / 2);
  }

  .advantages-list-subtitle::after {
    width: 304px;
  }
}

/* DEKSTOP STYLES */

@media screen and (min-width: 1280px) {
  .advantages-container {
    flex-direction: row;
  }

  .advantages-list-box {
    max-width: 716px;
    padding: 90px 50px;
  }

  .advantages-list-subtitle::after {
    width: 280px;
  }
}
